IDI_ICON1   ICON    DISCARDABLE     "images\logo.ico"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,2,0,0
    PRODUCTVERSION 1,2,0,3791
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", "ComWiseRobot"
                VALUE "FileDescription", "RobotViewer Softerware"
                VALUE "FileVersion", "0.1.0.0"
                VALUE "ProductName", "RobotViewer"
                VALUE "ProductVersion", "0.1.0.0"
                VALUE "InternalName", "RobotViewer"
                VALUE "LegalCopyright", "Copyright (C) 2024, ComWise, Co,. Ltd. All Rights Reserved."
                VALUE "OriginalFilename", "RobotViewer"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200
        END
    END